<h1 mat-dialog-title
    align="center">
    {{ title }}
</h1>

<lib-loading></lib-loading>

<ng-container *ngIf="entity$ | async as entity">
    <ng-container *ngIf="!forRemove; else removeContent">
        <mat-dialog-content>
            <mat-stepper *ngIf="showTemplates; else formTemplate"
                         color="accent"
                         #stepper
                         orientation="horizontal"
                         (selectionChange)="onFormIndexChange($event)"
                         labelPosition="bottom">
                <mat-step *ngFor="let settings of templateSettings; let formIdx = index"
                          [state]="'template' + formIdx"
                          [color]="stepper.selectedIndex === formIdx ? 'accent' : getTemplateStepColor(formIdx)"
                          [completed]="!!entities[formIdx]">
                    <ng-template matStepLabel>
                        <span [attr.data-cy]="'module.form.stage.' + getTemplateStageName(formIdx)">
                            <b>
                                {{ getTemplateStepLabel(formIdx) }}
                            </b>

                            <p *ngIf="entities$[formIdx] | async as choice">
                                {{ getTemplateStepSublabel(formIdx) }}
                            </p>
                        </span>
                    </ng-template>

                    <ng-template matStepContent>
                        <ng-container *ngIf="templateEntities$ | async as templates">
                            <lib-table [forTemplates]="true"
                                       [entities]="templates"
                                       (selectedEntity)="onSelectEntity($event, formIdx)">
                            </lib-table>
                        </ng-container>
                    </ng-template>
                </mat-step>

                <mat-step state="form"
                          [color]="stepper.selectedIndex === templateSettings.length ? 'accent' : 'primary'"
                          [completed]="isValid$ | async">
                    <ng-template matStepLabel>
                        <span [attr.data-cy]="'module.form.stage.form'">
                            <b>
                                {{ formStepLabel }}
                            </b>
                        </span>
                    </ng-template>

                    <ng-container [ngTemplateOutlet]="formTemplate">
                    </ng-container>
                </mat-step>

                <ng-template *ngFor="let stepId of templateStepIds; let formIdx = index"
                             [matStepperIcon]="stepId">
                    <mat-icon class='material-icons-round'>
                        {{ getTemplateStepIcon(formIdx) }}
                    </mat-icon>
                </ng-template>

                <ng-template matStepperIcon="edit">
                    <mat-icon>south</mat-icon>
                </ng-template>

                <ng-template matStepperIcon="form">
                    <mat-icon class='material-icons-round'>
                        checklist
                    </mat-icon>
                </ng-template>
            </mat-stepper>

            <ng-template #formTemplate>
                <lib-form *ngIf="userRoles$ | async as roles"
                          [selectedIdx]="selectedFormIdx!"
                          [steps]="steps"
                          [entity]="entity"
                          [contextEntities]="formContextEntities$ | async"
                          [newId]="newId"
                          [context]="context"
                          [url]="url"
                          [roles]="roles"
                          (isValid)="isValid($event)"
                          (value)="value($event)"
                          (onEscape)="closeForm()"
                          (onEnter)="saveEntity($event)">
                </lib-form>
            </ng-template>
        </mat-dialog-content>

        <div class="spacer"></div>

        <mat-dialog-actions align="center">
            <button mat-raised-button
                    [mat-dialog-close]=null>
                Close
            </button>

            <button mat-raised-button
                    *ngIf="showTemplates"
                    [disabled]="resetDisabled$ | async"
                    (click)="resetForm()"
                    color="primary">
                Reset
            </button>

            <button *ngIf="value$ | async as formValue"
                    mat-raised-button
                    color="warn"
                    [disabled]="!(isValid$ | async)"
                    data-cy="module.form.dialog.buttonSaveEntity"
                    (click)="saveEntity(formValue)">
                {{ saveButtonText }}
            </button>
        </mat-dialog-actions>
    </ng-container>

    <ng-template #removeContent>
        <mat-dialog-content>
            <span>
                Are you sure you want to <b>{{ !entity.attributes?.isArchived ? 'archive' : 'unarchive' }}</b>
                this {{ displayName }}?
            </span>

            <form #formRef
                  [class.confirm-group]="entity.attributes?.isArchived"
                  align="center"
                  [formGroup]="formGroup">
                <mat-slide-toggle class="confirm-toggle"
                                  data-cy="module.form.dialog.switchConfirmArchive"
                                  color="primary"
                                  #toggleMarkForArchive
                                  (change)="onConfirm($event)"
                                  formControlName="markedForArchive">
                    <span>
                        Confirm archive {{ displayName }}
                    </span>
                </mat-slide-toggle>

                <mat-divider></mat-divider>

                <mat-slide-toggle class="confirm-toggle"
                                  data-cy="module.form.dialog.switchConfirmDelete"
                                  #toggleMarkForDelete
                                  color="warn"
                                  formControlName="markedForDelete">
                    <span>
                        Also <b>DELETE</b> {{ displayName }} and related subcollections
                    </span>
                </mat-slide-toggle>

                <mat-divider></mat-divider>
            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="center">
            <button mat-raised-button
                    [mat-dialog-close]=null>
                Cancel
            </button>

            <button mat-raised-button
                    [color]="toggleMarkForDelete.checked ? 'warn' : 'accent'"
                    [disabled]="!entity.attributes?.isArchived && !formGroup.valid"
                    (click)="removeEntity(formGroup.value)"
                    data-cy="module.form.dialog.buttonRemoveEntity">
                {{
                !entity.attributes?.isArchived ?
                (toggleMarkForDelete.checked ? 'DELETE' : 'Archive') :
                'Unarchive'
                }}
                {{ displayName }}
            </button>
        </mat-dialog-actions>
    </ng-template>
</ng-container>