img {
  margin: auto;
  margin-top: 100px;
  display: block;
  opacity: 0.75;

  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0.4))
  );

  border-radius: 115px 10px 100px 30px;
}
