.spacer {
    flex: 1 1 auto;
}

mat-form-field {
    width: 120px !important;
}

.input-form-field {
    margin-left: 10px;
}

mat-slide-toggle {
    margin-left: 10px;
    margin-right: 10px;
}

.save-button {
    margin: auto;
    width: 100px;
}
