.menu-button {
    color: #5f6368;
}

.red-icon {
    mat-icon {
        color: rgba(255, 0, 0, 0.75);
    }
}

.purple-icon {
    mat-icon {
        color: #4527a0bf !important;
    }
}

.menu-item {
    width: 250px;
}
