// @media print {
//     mat-sidenav {
//         display: none;
//         width: 0vw;
//     }

//     mat-sidenav-content {
//         width: 90vw;
//         position: relative;
//         right: 150px;
//     }
// }

// ===================== LAYOUT =====================

mat-sidenav-container {
    width: 100%;
    height: 100%;
}

mat-sidenav-content {
    padding-left: 10px;
    padding-right: 10px;
}

// ===================== SIDENAV =====================

.nav-icons {
    margin-right: 10px;
    color: #5f6368;
}

.active-link {
    background-color: rgba(0, 0, 0, 0.1);
}

.spacer {
    min-height: calc(100vh - 64px - 64px - 20px);
}

mat-toolbar {
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    margin: auto;
    bottom: -10px;
}


footer {
    h1 {
        font-variant: small-caps;
        margin: 0 auto;
    }
}